@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

h2 {
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

mat-dialog-actions {
    margin-top: -18px;
    margin-left: auto;
}

mat-dialog-actions button {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
